!wget https://raw.githubusercontent.com/manan-arya/core_python/master/events.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'./events.csv')

In [3]:
data.head()

      timestamp  visitorid event  itemid  transactionid    Source
0  1.430000e+12     257597  view  355908            NaN  Flipkart
1  1.430000e+12     992329  view  248676            NaN  Flipkart
2  1.430000e+12     111016  view  318965            NaN  Flipkart
3  1.430000e+12     483717  view  253185            NaN  Flipkart
4  1.430000e+12     951259  view  367447            NaN  Facebook

In [4]:
data.drop('timestamp',axis=1,inplace = True)
data.head()

   visitorid event  itemid  transactionid    Source
0     257597  view  355908            NaN  Flipkart
1     992329  view  248676            NaN  Flipkart
2     111016  view  318965            NaN  Flipkart
3     483717  view  253185            NaN  Flipkart
4     951259  view  367447            NaN  Facebook

In [5]:
data['event'].unique()

array(['view', 'addtocart', 'transaction'], dtype=object)

In [6]:
data['event'].replace('view',1,inplace =True)
data['event'].replace('addtocart',2,inplace =True)
data['event'].replace('transaction',3,inplace =True)

In [7]:
data.head()

   visitorid  event  itemid  transactionid    Source
0     257597      1  355908            NaN  Flipkart
1     992329      1  248676            NaN  Flipkart
2     111016      1  318965            NaN  Flipkart
3     483717      1  253185            NaN  Flipkart
4     951259      1  367447            NaN  Facebook

In [8]:
#data.drop('transactionid',axis=1,inplace =True)
data.drop('Source',axis=1,inplace =True)
data.head()

   visitorid  event  itemid  transactionid
0     257597      1  355908            NaN
1     992329      1  248676            NaN
2     111016      1  318965            NaN
3     483717      1  253185            NaN
4     951259      1  367447            NaN

In [9]:
ecom_matrix = data.pivot_table(index='visitorid',columns='itemid',values = 'event')
ecom_matrix.head()

IndexError: index 1625946036 is out of bounds for axis 0 with size 1625812640